@model CosmeticFinder.ViewModels.ViewQuizViewModel

<h1>@Model</h1>

@*<div asp-validation-summary="All"></div>
<form action="/Quiz/Results">

    <p>
   
            @foreach (var question in Model.QuestionList)
            {
                var checkedAnswer = question.Answers.Equals(question.Answers);
                <span>
                    <input type="radio"
                           name="Choice"
                           <input type="hidden" id="@ .choiceID" />
                           value="@answer"
                           checked="@checkedAnswer" />
                    <label for="@answer">@answer</label>
                </span>

                 <p>
                <label asp-for="@question.choiceID"></label>
                <input asp-for="@question.choiceID" />
                <span asp-validation-for="@question.choiceID"></span>
                </p>
            }
    }
    </p>



    <input type="submit" value="Search" />
</form>*@


}